<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lol_deliver">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LOL_Deliver">
        <activity
            android:name=".SKStatistics"
            android:exported="false" />
        <activity
            android:name=".SKModifyMenu"
            android:exported="false" />
        <activity
            android:name=".SKModifyInfo"
            android:exported="false" />
        <activity
            android:name=".activity.ShopMenuActivity"
            android:exported="false" />
        <activity
            android:name=".ShopkeeperHomepage"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CustomerBeginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SideDishActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SelectIdentityActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PersonaldataActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EditorActivity"
            android:exported="false" />
    </application>

</manifest>